<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="DleFaviconStaticFile" path="favicon.ico" verb="GET,HEAD" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="C:\Program Files\nodejs\node.exe"
      arguments=".\apps\dashboard\server.js"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\dle-dashboard"
      startupTimeLimit="90"
      requestTimeout="00:10:00"
      processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NEXT_TELEMETRY_DISABLED" value="1" />
        <environmentVariable name="HOSTNAME" value="127.0.0.1" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
    <rewrite>
      <outboundRules>
        <rule name="Rewrite HttpPlatform localhost redirects" preCondition="IsRedirect">
          <match serverVariable="RESPONSE_Location" pattern="^https?://(?:localhost|127\.0\.0\.1):[0-9]+/(.*)$" />
          <action type="Rewrite" value="http://{HTTP_HOST}/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="^30[1278]$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
